#sql_input_container {
    border-bottom: 4px #658bff solid !important;
}

#sql_input {
    width: 100%;
    min-height: 60px;
    padding: 6px;
    background: white;
    border: 3px solid #f4f1f5;
    display: flex;
    justify-content: start !important;
    flex-wrap: wrap;
    align-items: center;
}

.sortable_clauses {
    /*transition: 0.5s;*/
    margin: 5px 10px 5px 0;
}


.value_input {
    width: 100px !important;
    height: 35px;
    background: #f4f1f5;
    border-bottom: 3px #bfbfbf solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: inline !important;
    padding-left: 10px;
    outline-width: 0;
}

.value_input:focus {
    border-bottom-color: rgba(63, 174, 232, 0.85);
}

.clause_value_container {
    width: auto;
    transition: background-color .3s;
    display: inline-block;
    background: #f4f1f5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.clause_value_container:hover {
    background-color: #bfbfbf;
}

.clause_value_container > span {
    display: inline !important;
    margin-right: 5px;
    width: 1%;
    color: gray;
}
.clause_tag {
    transition: background-color .5s;
    display: inline-block;
    padding: 0.35em 0.4em;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #399dfa;
    cursor: pointer;
}
.clause_tag:hover{
    background-color: #3888bb;
}

.clause_tag_selected {
    cursor: move;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0;
}

.remove_clause {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: -1px;
}

.sql_pool {
    transition: background-color .5s;
    line-height: 50%;
    background: transparent;
}

.sql_pool .clause {
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

.operator {
    background-color: #b37eff;
}
