* {
  box-sizing: border-box;
}

#sqlqb-container {
  width: 100%;
  height: auto;
  padding: 16px;
  *{
    box-sizing: border-box;
    font-family: 'Montserrat';
  }
  li {
    list-style: none;
    margin: 0;
  }
}
#sqlqb-input-container{
  width: 100%;
  padding: 0 10px;
  background: white;
  border: 3px solid #f4f1f5;

  #sqlqb-input {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: start !important;
    flex-wrap: wrap;
    align-items: center;

    li {
      position: relative;
      border-radius: 0.25rem;
      margin-right: 8px;
    }
  }
}

#sqlqb-tags-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  #sqlqb-tags-clauses, #sqlqb-tags-operators {
    width: 50%;
    display: inline-block;
    padding: 0 15px;
    span {
      margin:0 10px 10px 0;
    }
  }
}
#sqlqb-output-container {
  transition: .3s;
  position: relative;
  margin-top: 16px;
  width: 100%;
  padding: 20px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  background: #f5f5f5;
  cursor: pointer;
  &:hover {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    .sqlqb-icon {
      color: rgba(81, 148, 180, 0.51);
      cursor: inherit;
    }
  }
  &:active {
    box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
  }
  #sqlqb-output {
    width: 100%;
  }
}