@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '_variables';

#{$input-item} {
  margin: 5px 0 6px 0;
  #{$tag} {
    &#{$tag-clause} {
      @include tag-selected($bc-clause);
    }
    &#{$tag-operator} {
      @include tag-selected($bc-operator);
    }
    &#{$tag-value} {
      @include tag-selected($bc-value);
    }
  }
  &:hover {
    z-index: 999;
    #{$tag} {
      @include tag(0, 0, 0, 0);
      &#{$tag-clause} {
        @include tag-hover($bc-clause, $f-color-tag, 0);
      }
      &#{$tag-operator} {
        @include tag-hover($bc-operator, $f-color-tag, 0);
      }
      &#{$tag-value} {
        @include tag-hover($bc-value, $f-color-tag-value, 0);
      }
    }
  }
}

/***********************************************************************************************************************
*Custom clause value input element
*/
#{$value-input} {
  @include value-input;
  &:focus {
    border-bottom: 3px $borc-input-focus solid ;
  }
}
/***********************************************************************************************************************
*Custom clause tag
*/
#{$tag} {
  @include tag();
  &#{$tag-clause} {
    color: $f-color-tag;
    background-color: $bc-clause;
    &:hover {
      background-color: $bc-clause-hover;
    }
  }
  &#{$tag-operator} {
    color: $f-color-tag;
    background-color: $bc-operator;
    &:hover {
      background-color: $bc-operator-hover;
    }
  }
  &#{$tag-clause} {
    color: $f-color-tag-value;
    background-color: $bc-value;
    &:hover {
      background-color: $bc-value-hover;
    }
  }
}

/***********************************************************************************************************************
*control buttons for removing and adding tags
*/
#{$tag-controls}{
  @include tag-controls();
  &:hover{
    background-color: $bc-control-hover;
  }
  &#{$tag-controls-remove} {
    @include tag($br-tag, 0, 0, $br-tag);
    right: 100%;
  }
  &#{$tag-controls-add} {
    @include tag(0, $br-tag, $br-tag, 0);
  }
}

/***********************************************************************************************************************
*Output highlighting
*/
.output-clause {
  font-weight: bold;
  color: #658bff;
}

.output-value {
  color: gray;
}

.output-operator {
  font-weight: bold;
  color: #b37eff;
}

/*******************************************
*icons
*/
.query-builder-icon {
  color: gray;
  transition: .3s;
  padding: 6px;
  font-size: 18px;
  &-copy {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
  }
}

/*******************************************
*Helper
*/
.disp-none {
  display: none;
}

.pulse {
  animation: pulse 1s;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(56, 136, 187, 0.89);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.selected-tag-controls-container {
  transition: opacity .5s;
  opacity: 0;
  border-radius: 0.25rem;
  width: fit-content;
  position: absolute;
  top: -110%;
  text-align: center;
  left: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.selected-tag-container {
  position: relative;
}

.clause-controls-placeholder {
  /*background-color: #bfbfbf;*/
  position: absolute;
  height: 100%;
  width: 80%;
  top: -100%;
}

/***********************************************************************************************************************
*Placeholder for draggable items
*/
.sort-placeholder {
  @include draggable-placeholder;
}
