@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import '_variables';

#{$input-item} {
  margin: 5px 0 6px 0;
  #{$tag} {
    &#{$tag-clause} {
      @include tag-selected($bc-clause);
    }
    &#{$tag-operator} {
      @include tag-selected($bc-operator);
    }
    &#{$tag-value} {
      @include tag-selected($f-color-tag-value);
    }
  }
  &:hover {
    z-index: 999;
    #{$tag} {
      @include tag(0, 0, 0, 0);
      &#{$tag-clause} {
        @include tag-hover($bc-clause, $f-color-tag, 0);
      }
      &#{$tag-operator} {
        @include tag-hover($bc-operator, $f-color-tag, 0);
      }
      &#{$tag-value} {
        @include tag-hover($bc-value, $f-color-tag-value, 0);
      }
    }
    #{$tag-controls} {
      display: inline-block;
    }
  }
}

/***********************************************************************************************************************
*Custom clause value input element
*/
#{$value-input} {
  @include value-input;
  &:focus {
    border-bottom: 3px $borc-input-focus solid ;
  }
}
/***********************************************************************************************************************
*Custom clause tag
*/
#{$tag} {
  @include tag();
  &#{$tag-clause} {
    color: $f-color-tag;
    background-color: $bc-clause;
    &:hover {
      background-color: $bc-clause-hover;
    }
  }
  &#{$tag-operator} {
    color: $f-color-tag;
    background-color: $bc-operator;
    &:hover {
      background-color: $bc-operator-hover;
    }
  }
  &#{$tag-value} {
    color: $f-color-tag-value;
    background-color: $bc-value;
    &:hover {
      background-color: $bc-value-hover;
    }
  }
}

/***********************************************************************************************************************
*control buttons for removing and adding tags
*/
#{$tag-controls}{
  @include tag();
  @include tag-controls();
  &:hover{
    background-color: $bc-control-hover;
  }
  &#{$tag-controls-remove} {
    @include tag-border-radius($br-tag, 0, 0, $br-tag);
    right: 100%;
  }
  &#{$tag-controls-add} {
    @include tag-border-radius(0, $br-tag, $br-tag, 0);
  }
}

/***********************************************************************************************************************
*Output highlighting
*/
#{$output-clause} {
  color: $bc-clause;
}

#{$output-value} {
  color: $bc-value;
}

#{$output-operator} {
  font-weight: $f-weight-tag;
  color: $bc-operator;
}

/***********************************************************************************************************************
*icons
*/
.query-builder-icon {
  color: gray;
  transition: .3s;
  padding: 6px;
  font-size: 18px;
  &-copy {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
  }
}

/***********************************************************************************************************************
*Helper
*/
.disp-none {
  display: none;
}

/***********************************************************************************************************************
*Animations
*/
#{$animation-pulse} {
  @include animation-pulse;
}

/***********************************************************************************************************************
*Placeholder for draggable items
*/
.sort-placeholder {
  @include draggable-placeholder;
}
